<div class="tw-flex tw-justify-center tw-content-center tw-pt-16">
    <div class="tw-bg-teal-900 tw-p-8 tw-rounded-md tw-shadow-md tw-w-96">
        <h1 class="tw-text-2xl tw-font-semibold tw-mb-4 tw-text-white">Регистрация</h1>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" method="POST">
            <div class="tw-mb-4" [ngClass]="{'has-error': form.get('email').invalid && form.get('email').touched}">
                <label for="email" class="tw-block tw-text-sm tw-font-medium tw-text-teal-100">Email</label>
                <input type="email" id="email" name="email" placeholder="Email" formControlName="email"
                    class="tw-mt-1 tw-p-2 tw-w-full tw-bg-teal-600 tw-rounded-md tw-text-teal-50">
                <span *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
                    <span *ngIf="form.get('email')?.errors?.['required']">Email не может быть пустым. </span>
                    <span *ngIf="form.get('email')?.errors?.['email']">Введите корректный email. </span>
                    <span *ngIf="form.get('email')?.errors?.['forbiddenEmail']">Этот Email уже занят. </span>
                </span>
            </div>

            <div class="tw-mb-6" [ngClass]="{'has-error': form.get('name')?.invalid && form.get('name')?.touched}">
                <label for="name" class="tw-block tw-text-sm tw-font-medium tw-text-teal-100">Name</label>
                <input type="name" id="name" name="name" placeholder="Name" formControlName="name"
                    class="tw-mt-1 tw-p-2 tw-w-full tw-bg-teal-600 tw-rounded-md tw-text-teal-50">
                <span *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
                    <span *ngIf="form.get('name')?.errors?.['required']">Поле не может быть пустым.</span>
                </span>
            </div>

            <div class="tw-mb-6" [ngClass]="{'has-error': form.get('password')?.invalid && form.get('password')?.touched}">
                <label for="password" class="tw-block tw-text-sm tw-font-medium tw-text-teal-100">Password</label>
                <input type="password" id="password" name="password" placeholder="Password" formControlName="password"
                    class="tw-mt-1 tw-p-2 tw-w-full tw-bg-teal-600 tw-rounded-md tw-text-teal-50">
                <span *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
                    <span *ngIf="form.get('password')?.errors?.['required']">Пароль не может быть пустым. </span>
                    <span *ngIf="form.get('password')['errors']['minlength'] && form.get('password')['errors']['minlength']['requiredLength']">
                        Пароль должен быть больше {{ form.get('password')['errors']['minlength']['requiredLength'] }}
                        символов. Сейчас {{ form.get('password')['errors']['minlength']['actualLength'] }}.
                    </span>
                </span>
            </div>

            <div class="tw-mb-6">
                <button type="submit" [disabled]="form.invalid"
                    class="tw-w-full tw-bg-teal-300 hover:tw-bg-teal-400 tw-text-teal-950 tw-font-bold tw-py-2 tw-px-4 
                    tw-rounded tw-focus:outline-none tw-focus:shadow-outline-teal tw-active:bg-teal-500">
                    Register
                </button>
            </div>

            <div class="tw-text-center">
                <p class="tw-text-teal-200">Already have an account?</p>
                <a [routerLink]="'/login'" class="tw-text-teal-50 hover:tw-text-teal-400 tw-font-medium">Log In</a>
            </div>
        </form>
    </div>
</div>
