<div class="container mx-auto">
    <h2 class="display-4 font-weight-bold my-4">Добро пожаловать на сайт Фонда помощи бездомным животным</h2>
  
    <p>
        Наша миссия - предоставить бездомным животным безопасное убежище, заботу и поиск надежного дома. Мы приглашаем вас
        принять участие в наших программах усыновления, волонтерства и пожертвований.
    </p>
  
    <p>
        Воспользуйтесь нашими услугами и вместе мы можем изменить жизни многих животных.
    </p>

    <section class="tw-my-8">
        <h3 class="h2 font-weight-bold mb-4">Наши программы и услуги</h3>
        <ul>
            <li>Программа усыновления: как взять животное под опеку.</li>
            <li>Волонтерство: присоединяйтесь к нам в качестве волонтера и помогите нашим подопечным.</li>
            <li>Пожертвования: поддержите наших подопечных финансово.</li>
        </ul>
    </section>

    <section class="tw-my-8">
        <h3 class="text-2xl font-semibold mb-4">Наши подопечные</h3>
        <ngb-carousel *ngIf="images" [showNavigationArrows]="true" [showNavigationIndicators]="true">
          <ng-template ngbSlide *ngFor="let image of images">
            <img [src]="image" alt="Slide" class="carousel-image">
          </ng-template>
        </ngb-carousel>
      </section>
      

    <section class="tw-my-8">
        <h3 class="tw-h2 tw-font-weight-bold tw-mb-4">Как помочь</h3>
        <p>
            Есть много способов помочь. Вы можете стать волонтером, сделать пожертвование или просто распространить информацию о нашей деятельности.
        </p>
    </section>
</div>
