<footer class="tw-bg-teal-800 tw-text-white tw-py-4 tw-w-full ">
    <div class="tw-container tw-mx-auto tw-flex tw-flex-col tw-items-center tw-justify-center">
        <p class="tw-text-sm">&copy; 2023 Фонд помощи бездомным животным</p>
        <p class="tw-text-sm">Email: info@animalshelter.org</p>
        <p class="tw-text-sm">Телефон: +7 (XXX) XXX-XX-XX</p>
        <p class="tw-text-sm">Адрес: улица Пушкина дом Колотушкина </p>
        <a href="https://www.animalshelter.org/donate" class="tw-text-white hover:tw-text-teal-400 mt-4" target="_blank" rel="noopener noreferrer">
            Пожертвовать
        </a>
    </div>
</footer>
