@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~bootstrap/dist/css/bootstrap.min.css";
body {
    font-family: Arial, sans-serif;
    background-color: #2d2d2d !important;
    color: #fff!important;
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    height: 100vh;
  }
a {
    text-decoration: none !important;
}
button[disabled] {

  background-color: rgba(148, 148, 148, 0.6) !important;

  border-color: rgba(148, 148, 148, 0.6) !important;

  cursor: no-drop;

}

.has-error span > span {
  color: red;
}
.has-error input {
  border-color: red !important;
  border-width: 1px !important;
  color: red;
}