<header class="tw-bg-teal-800 tw-text-white tw-py-4">
    <div class="tw-container tw-mx-auto tw-flex tw-justify-between tw-items-center">
        <div>
            <h1 class="tw-text-2xl tw-font-bold"><a href="/system/home" class="tw-text-white hover:tw-text-teal-200 tw-mr-4">Фонд помощи бездомным животным</a></h1>
        </div>
        <nav class="tw-flex">
            <a href="/system/user-profile" class="tw-flex text-white hover:text-tw-teal-400 tw-mr-4">
                <fa-icon [icon]="faUser"></fa-icon>
                <p class="tw-ml-4">{{user.name}}</p>
            </a>
            <a href="system/news" class="tw-text-white hover:tw-text-teal-200 tw-mr-4" >Новости</a>
           
            <a href="system/adopt" class="tw-text-white hover:tw-text-teal-200 tw-mr-4">Забрать животное</a>
            <a href="system/donate" class="tw-text-white hover:tw-text-teal-200 tw-mr-4">Пожертвовать</a>
            <a href="system/contact" class="tw-text-white hover:tw-text-teal-200 tw-mr-4">Контакты</a>
            <a href="system/about" class="tw-text-white hover:tw-text-teal-200">О нас</a>
        </nav>
    </div>
</header>
